.cabecalho{
    grid-area: cabecalho;
    background-image: url("../../images/background-titulo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -12px;
}